.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 27.25px;
    background-color: #f8f9fa;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-height: 100%;
    box-sizing: border-box;
}

.login h1 {
    margin-bottom: 20px;
    color: #007bff;
    font-size: 1.5rem;
}

.login p {
    margin-bottom: 20px;
    color: #6c757d;
}

#loginForm {
    width: 100%;
}

#loginForm label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

#loginForm input {
    width: 96.5%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: none;
}

#loginForm .error {
    color: #dc3545;
    font-size: 0.9rem;
    margin-bottom: 10px;
    display: block;
}

#loginForm button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

#loginForm button:hover {
    background-color: #0056b3;
}